.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid;
}

.login input {
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 10px;
}

.login button {
    transition: .3s all;
}

.login button:hover {
    background-color: rgb(92, 92, 92);
    border: none;
}