.ProductVerticaly {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 5, 23);
    border-radius: 8px;
    padding: 12px 4px;
    color: #fffad8;
    gap: 16px;
}

.ProductVerticaly img {
    background-color: #fffad8;
    border-radius: 8px;
}
.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productInfo .title {
    font-size: 1rem;
    font-weight: 700;
}
.productInfo .desc {
    font-size: 1rem;
    font-weight: 300;
    width: 80%;
}

.plusMinus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.addToCartSection {
    width: 80%;
    position: relative;
    bottom: 0;
}
.plusMinus button {
    padding: 0;
    height: 40px;
    width: 40px;
}

.removeBtn{
    height: 30px;
    padding: 5px 20px;
}
.addToCartSection .activated:hover {
    background-color: #fffad8;
    color:rgb(153, 18, 18);
}

.addToCartSection .activated {
    background-color: rgb(153, 18, 18);
    color: #fffad8;
}
.addToCartSection .deactivated {
    background-color: rgb(8, 5, 23);
    color: rgb(8, 5, 23);
    cursor: default;
}

.rating {
    font-size: 1.5rem;
    display: flex;
    gap: 4px;
    font-weight: 900;
}

.rating .rate {
    color: yellow;
}