.logo {
    font-weight: 900;
    font-size: 1.5rem;
    transition: all 0.3s;
}

/* navbar path */
.pathes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-weight: 700;
    transition: all 0.3s;
}


/* navbar search */

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.searchBarContainer input {
    padding-left: 4px;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(8, 5, 23);
    width: 120px;
    transition: all 0.3s;
    padding: 8px;
}

.searchBarContainer input:focus {
    width: 240px;
    border-radius: 8px;
}

.removeSearchContentIcon {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    color: white;
    font-weight: 900;
    border: 1px red solid;
    cursor: pointer;
    background-color: red;
    border-radius: 4px;
    transition: all 0.3s;
}
.removeSearchContentIcon:hover {
    background-color: white;
    color: red;
}

/* navbar cart */

.cartIcon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(121, 23, 23);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.humburgerMenu {
    width: 100px;
    height: 100vh;
    background-color: #fffad8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: rgb(8, 5, 23) 2px solid;
    color: rgb(8, 5, 23);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 64px 40px;
    gap: 20px;
    font-weight: 700;
}
.humburgerMenu button {
    padding: 8px 5px;
    width: 120px;
}

@media only screen and (max-width: 1500px) {
    .pathes {
        font-size: 0.8rem;
    }
    .pathes button {
        padding: 8px 16px;
    }
    .logo {
        font-weight: 900;
        font-size: 1.2rem;
    }
}