.logo {
    font-weight: 900;
    font-size: 1.5rem;
}

/* navbar path */
.pathes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-weight: 700;
}


/* navbar search */

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.searchBarContainer input {
    padding-left: 4px;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(8, 5, 23);
    width: 120px;
    transition: all 0.3s;
    padding: 8px;
}

.searchBarContainer input:focus {
    width: 360px;
    border-radius: 8px;
}

/* navbar cart */

.cartIcon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(121, 23, 23);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
