.navbar {
    position: absolute;
    top: 0;
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: red;
}

.address-section , .auth-section {
    display: flex;
    gap: 20px;
}

.navbar-main {
    width: 70vw;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.navbar-btn , .navbar-select {
    height: 35px;
    border: none;
}


.navbar-btn {
    color: white;
    background-color: rgb(198, 80, 80);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar-select {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid;
}

.navbar-menu ul  , .path-section{
    width: 70vw;
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.path-section {
    color: rgb(171, 171, 171);
}

.navbar-menu ul li {
    cursor: pointer;
}

.navbar-mobile {
    display: none;
}

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 52vw;
    height: 100vh;
    border-right: 1px solid;
}

.closeMenu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.menuOptions {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 1.2rem;
    gap: 10px;
    padding-top: 40px;
}

@media only screen and (max-width: 950px) {
    .navbar {
      display: none;
    }
    .navbar-mobile {
        position: fixed;
        top: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 20px;
        gap: 30px;
    }
    .navbar-mobile-icons {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }
    .navbar-mobile-auth {
        display: flex;
        gap: 20px;
    }
    .input-search-mobile {
        border-radius: 20px;
        border: 1px solid;
        padding-left: 10px;
        height: 30px;
    }
    .navbar-mobile-icons svg {
        width: 26px;
    }
    .navbar-mobile-icons button {
        padding: 2px 10px;
        font-size: .9rem;
    }
    .path-section {
        font-size: .8rem;
        padding: 10px 0;
    }
  }