.navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar-information {
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.address-section , .auth-section , .card-section {
    display: flex;
    gap: 20px;
}

.navbar-middle {
    width: 100vw;
    height: 170px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.search-section {
    display: flex;
    align-items: center;
}

.input-search , .navbar-btn , .navbar-select {
    height: 35px;
    border: none;
}

.input-search {
    width: 300px;
}

.navbar-btn {
    color: white;
    background-color: red;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar-select {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar-menu ul  , .path-section{
    width: 70vw;
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.path-section {
    color: rgb(171, 171, 171);
}

.navbar-menu ul li {
    cursor: pointer;
}