.product {
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .product-img {
    width: 200px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-price-container {
    display: flex;
    gap: 20px;
  }
  .product-price {
    color: red;
    font-weight: 900;
  }
  .product-price-high {
    text-decoration: line-through;
  }
  .product-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8px 0;
  }
  .rating-line {
    height: 2px;
    width: 30%;
    background-color: var(--color);
  }

  .addToCartSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .addToCartAmount {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .addToCartAmount button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  .product-addToCart-btn {
    background-color: red;
    color: white;
    position:relative;
    top: 0px;
    height: 40px;
  }

  .product-removeCart-btn {
    color: red;
    position:relative;
    top: 0px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
  }

  .cardButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }