.product {
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
  }
  
  .product-img {
    width: 200px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }