.searchResultProduct {
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    display: flex;
    gap: 10px;
    height: 80px;
  }
  
  .searchResultProduct-img {
    width: 80px;
  }
  
  .searchResultProduct-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100px;
  }
  .searchResultProduct-info span {
    font-size: .8rem;
  }